<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- https://lbargaoanu.github.io/norm/NormDeveloperGuide.html#NormSetGrttEstimate -->
	<round-trip-time>0</round-trip-time>
	<!-- https://lbargaoanu.github.io/norm/NormDeveloperGuide.html#NormSetTxRobustFactor-->
	https://lbargaoanu.github.io/norm/NormDeveloperGuide.html#NormSetDefaultRxRobustFactor -->
	<robust-factor>20</robust-factor>
</configuration>